@model IList<OnlineStore.Model.ViewModel.BannerViewModel>
<div id="homepage-slider">
    <ul id="homeslider">
        @foreach (var item in Model)
        {
            string[] tokens = item.Name.Split(',');
            var link = "#";
            var name = item.Name; ;
            if (tokens.Length > 1)
            {
                name = tokens[0];
                link = tokens[1];
            }

            if (link == null)
            {
                link = "#";
            }
            <li class="homeslider-container">
                <a href="@link" title="@name">
                    <img src="@(item.ImagePath)" width="1770" height="721" alt="" />
                </a>
            </li>
        }
    </ul>
    <div id="bx-pager-thumb">
        @foreach (var item in Model)
        {
            <a class="thumb-1" data-slide-index="0" href="">
                <img src="@(item.ImagePath)" alt="">
            </a>
        }
    </div>
</div>