
@{
    ViewBag.Title = "CheckOutComplete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" style="margin-top:2em;">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="panel panel-success">
            <div class="panel-heading"><i class="glyphicon glyphicon-check"></i>Đặt Hàng Thành Công</div>
            <div class="panel-body btn btn-success col-sm-12">
                <h3 style="text-align:center">Xin Cám Ơn Quý Khách! </h3>
                <h3 style="text-align:center">Quý Khách Đã Đặt Hàng Thành Công</h3>
                <h3 style="text-align:center">Chúng Tôi Sẽ Liên Hệ Với Quý Khách Trong Thời Gian Sớm Nhất</h3>
            </div>
        </div>
        </div>
    </div>




